.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1.5vh;
}
.About-Me {
  background-color: #3d424d;
  font-size: calc(7px + 2vmin);
  color: white;
  padding-top: 1.5vh;
}

.bodyContent {
  background-color: #3d424d;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p, nav, li, h1, h2 {
  font-family: monospace;
}

.buttonLink {
  font: bold;
  text-decoration: none;
  background-color: #2134ff;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #2134ff;
  border-right: 1px solid #2134ff;
  border-bottom: 1px solid #2134ff;
  border-left: 1px solid #2134ff;
  border-radius: 5px;
}

@media screen and (min-width: 500px) {
  #skillsContainer {
    width: 100%;
    padding-right: 0%;
  }
}
